<div class='ui massive inverted menu navbar'>
    <a href='/' class='brand item'>CGKelly</a>
    <div class='right menu open'>
        <button id='colButton' class='menu item'> <i class='align justify icon'></i> </button>
    </div>
</div>
<div id='colMenu' class='ui vertical menu navbar hidden'>
    <a href="/" class='active item'>Home</a>
    <a href="/" class='item'>Color Game</a>
    <a href="/" class='item'>Todo List</a>
    <a href="/" class='item'>RPS</a>
    <a href="/" class='item'>Login</a>
    <a href="/" class='item'>Register</a>
</div>