<!DOCTYPE >
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
        <link rel="stylesheet" type="text/css" href="css/header.css">
        <script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.js"></script>
        <title>CGKelly</title>
    </head>
    <body>
        <div class='ui page grid'>
            <div class='computer tablet only row'>
                <% include normalNav %>
            </div>
            <div class='mobile only narrow row'>
                <% include collapseNav %>
            </div>
            <script src='js/home.js'></script>

        
